* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grand-hotel-regular {
  font-family: "Grand Hotel", cursive;
  font-weight: 400;
  font-style: normal;
}


.bg-color-light {
  background-color: rgb(79, 79, 236);
}

.bg-color-services {
  background-color: #e0b159;
}

.bg-color-gradient {
  background: radial-gradient(#c4631e, white, #ab7e02)
}

.header-text {
  color: rgb(59, 59, 238);
}

/* Main */

.main-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* main-image img {
  overflow-clip-margin: content-box;
  overflow: clip;
} */

.main-info {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
}

.main-title {
  position: absolute;
}

.main-title p {
  font-style: italic;
  font-weight: bold;
}

.main-btns {
  position: absolute;
  padding: 20px;
}

.main-btns a {
  color: white;
  border-color: white;
}

.main-info a:hover {
  background-color: rgb(53, 53, 240);
  border-color: rgb(53, 53, 240);
}

/* Services */

.service-info {
  width: 100%;
  height: vh;
}

.service-info h1 {
  color: blue;
}

.service-item {
  overflow: hidden;
}

.service-item img {
  width: 50%;
  object-fit: cover;
}

/* .service-item i {
  color: blue;
  font-size: 35px;
  margin-right: 15px;
} */

.service-item p {
  font-weight: bold;
  font-style: italic;
  color: gray;
}


/* Company */

.company-img {
  position: absolute;
  width: 100%;
}

.company-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.company-items {
  position: relative;
  width: 100%;
}

.company-items .raw {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 20px;
  color: white;
}

/* Projects */
.project-items {
  text-align: center;
}

.project-items .raw {
  display: block;
  width: 100%;
}

.project-items img {
  object-fit: cover;
  cursor: pointer;
}

.project-info {
  position: relative;
}

.project-items img {
  width: 100%;
  display: block;
  margin: auto;
}

.project-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.project-items img:hover {
  transition: all 0.5s ease-out;
  opacity: 0.5;

}

/* Conatct */

.card-img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

#textName {
  background-color: transparent;
  color: white;
}

#textPhone {
  background-color: transparent;
  color: white;
}

/* Footer */

.footer-social-items {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-social-item {
  border-radius: 50%;
  padding: 12px;
}

.footer-social-item:hover {
  cursor: pointer;
  background-color: rgb(96, 230, 235);
  border-color: white;
  transition: all 0.5s ease-out;
}

.footer-company-items {
  list-style: none;
}

.footer-company-item a {
  text-decoration: none;
  color: gray;
  cursor: pointer;
  font-size: 20px;
}

.footer-company-item a:hover {
  color: blue;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s ease-out;
}

/* responsive */

@media (min-width: 300px) {

  .main-title {
    top: 35%;
    left: 5%;
  }

  .title-h {
    font-size: 3rem;
  }

  .title-p {
    font-size: 1rem;
  }

  .main-btns {
    width: 100%;
    top: 65%;
    left: 0%;
  }

  .main-btns a {
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  .service-item {
    padding: 2px;
    margin-top: 15px;
  }

  .service-item img {
    height: 100px;
  }

  .service-item p {
    margin-right: 5px;
  }

  .company-img,
  .company-items {
    height: 60vh;
  }

  .company-info {
    display: block;
    top: 50px;
  }

  .col-3 {
    width: 100%;
  }

  .project-items img {
    width: 100%;
    height: 200px;
  }



}

@media (min-width: 576px) {


  .service-item i {
    font-size: 40px;
  }

  .main-btns a {
    display: block;
    width: 80%;
    margin-left: 50px;
  }

  .project-items img {
    width: 100%;
    height: 200px;
  }

  .service-item img {
    height: 110px;
  }

  .service-item p {
    margin-right: 15px;
  }

}

@media (min-width: 768px) {

  .main-title {
    top: 40%;
    left: 5%;
  }

  .title-h {
    font-size: 3.5rem;
  }

  .title-p {
    font-size: 1rem;
  }

  .main-btns {
    display: flex;
    padding-left: 5%;
    top: 75%;
  }

  .main-btns a {
    width: 20%;
    margin-left: 5px;
  }

  .service-item {
    margin: 5px;
    cursor: pointer;
  }

  .service-item p {
    font-size: 18px;
    margin-right: 10px;
  }

  .service-item img {
    height: 130px;
  }

  .company-info {
    top: 120px;
  }

  .left {
    display: flex;
    width: 50%;
  }

  .right {
    display: flex;
    width: 50%;
    margin-top: 20px;
  }

  .project-items .raw {
    display: flex;
  }

  .project-items img {
    width: 100%;
    height: 250px;
  }

  .footer-social-item {
    border: 1px solid blue;
    width: 50px;
    height: 50px;
  }

}

@media (min-width: 992px) {

  .main-title {
    top: 45%;
    left: 55%;
  }

  .title-h {
    font-size: 4.5rem;
  }

  .title-p {
    font-size: 1.3rem;
  }

  .main-btns {
    width: 70%;
    top: 72%;
    left: 5%;
  }

  .service-item p {
    font-size: 22px;
    margin-right: 20px;
  }

  .service-item img {
    height: 140px;
  }

  .company-info {
    top: 130px;
  }

  .left {
    margin-left: 115px;
    width: 25%;
  }

  .right {
    width: 25%;
    margin-top: 0;
    margin-left: 350px;
  }

  .project-items img {
    width: 100%;
    height: 300px;
  }



}

@media (min-width: 1200px) {

  .main-title {
    top: 49%;
    left: 55%;
  }

  .title-h {
    font-size: 5rem;
  }

  .title-p {
    font-size: 1.5rem;
  }

  .main-btns {
    width: 70%;
    top: 72%;
    left: 5%;
  }

  .service-item p {
    font-size: 25px;
  }

  .service-item i {
    font-size: 55px;
  }

  .company-info {
    top: 130px;
  }

  .left {
    margin-left: 170px;
    width: 25%;
  }

  .right {
    width: 25%;
    margin-top: 0;
    margin-left: 450px;
  }

  .project-items img {
    width: 100%;
    height: 300px;
  }

}

@media (min-width: 1400px) {}