* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-color-light {
  background-color: rgb(79, 79, 236);
}

.bg-color-gradient {
  /* background: linear-gradient(to right, blue, white); */
  background: radial-gradient(blue, white)
}

.header-text {
  color: rgb(59, 59, 238);
}

/* Main */

.main-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* main-image img {
  overflow-clip-margin: content-box;
  overflow: clip;
} */

.main-info {
  position: relative;
  width: 100%;
  height: 520px;
  color: white;
  /* background-color: blue; */
}

.main-info p {
  position: absolute;
  font-style: italic;
  font-weight: bold;
  /* color: rgb(59, 59, 238); */
}

.main-info h1 {
  position: absolute;
}

.main-info-h-sm {
  top: 185px;
  left: 0px;
  font-size: 50px;
}

.main-info-h-md {
  top: 275px;
  right: 0px;
  font-size: 65px;
}

.main-info-h-lg {
  top: 300px;
  right: 0px;
  font-size: 80px;
}

.main-info button {
  position: absolute;
  color: white;
  border-color: white;
}

.main-info button:hover {
  background-color: rgb(53, 53, 240);
  border-color: rgb(53, 53, 240);
}

.main-btn-sm {
  top: 355px;
}

.main-btn-md {
  top: 380px;
}

.main-btn-lg {
  top: 435px;
}

.main-btn-sm-project {
  margin-top: 50px;
}

.main-btn-md-project {
  margin-left: 120px;
}

.main-btn-lg-project {
  margin-left: 140px;
}

/* Services */

.service-info {
  width: 100%;
  height: vh;
}

.service-item {
  background-color: white;
  padding: 15px;
}

.service-item i {
  color: blue;
  font-size: 35px;
  margin-right: 15px;
}

.service-item p {
  font-weight: bold;
  font-style: italic;
  color: gray;
}


/* responsive */

@media (min-width: 300px) {
  .main-info p {
  top: 165px;
  left: 10px;
}
  
}

@media (min-width: 576px) {

  .service-item p {
    font-size: 18px;
  }

  .service-item i {
    font-size: 40px;
  }
}

@media (min-width: 768px) {

  .main-info p {
    top: 255px;
    left: 342px;
  }

  .service-item p {
    font-size: 20px;
  }

  .service-item i {
    font-size: 45px;
  }
}

@media (min-width: 992px) {

  .main-info p {
    top: 255px;
    left: 500px;
  }

  .service-item p {
    font-size: 22px;
  }

  .service-item i {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {

  .main-info p {
    top: 255px;
    left: 680px;
  }

  .service-item p {
    font-size: 25px;
  }

  .service-item i {
    font-size: 55px;
  }
}

@media (min-width: 1400px) {}